#dashboard {
  height: 100%;

  .cards {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      margin-top: 5px;
      flex: 0 1 24%;
      height: 20%;

      .card-img {
        opacity: 0.1;
        background-color: black;
      }
    }
  }

}